
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

body {
  padding: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  overflow-x: hidden;
  position: relative;
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;
}

.progressbar-main {
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
}

.progressbar-container {
  height: 70px;
  width: 100%;
  background-color: #0034ff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.progressbar {
  height: 50px;
  background-color: #0ff;
}

.circular-wrapper {
  display: flex;
  justify-content: center;
  padding: 120px;
}

.progress-circular-container {
  height: 200px;
  width: 200px;
  background-color: #0034ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.progress-circle {
  height: 100px;
  width: 100px;
  background-color: #0ff;
  border-radius: 50%;
}

.display-text,
.display-text-circle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2rem;
  padding: 1rem;
}

.display-text {
  text-align: center;
}
